html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #fff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background: #fff;
}

nav{

    color: #fff;
    padding: 1rem;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
}


.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.header-image{
    width: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hr-black{
    border: 1px solid #000;
    width: 50%;

}

.box-body{
    border: 1px solid black;
    background-color: rgb(225, 224, 177);
}

.box-body-jas{
    border: 1px solid black;
    background-color: rgba(57, 73, 56, 0.602);
  
}


.box-main{

    background: rgba(215, 170, 170, 0.5);
   border: 1px solid black;
   margin: 20px ;
   padding: 20px;
}

.inner-box-header{
    color: rgb(91, 44, 44);
}


.image-outline{
    border: 1px solid black;
    width: 250px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
